=render 'showmap'

%h2= @mural.address
%h2#lat= @mural.lat
%h2#long= @mural.long

.displaygrid
	%h3 Display in grid
.displaysingle.hidden
	%h3 Display one by one

.box.panel.panel-default
	.info
		=@mural.created_at.to_time.strftime('Uploaded: %B %e') 
	= image_tag @mural.image.url.to_s

//testing purposes
.box.panel.panel-default
	.info
		=@mural.created_at.to_time.strftime('Uploaded: %B %e') 
	= image_tag @mural.image.url.to_s

.grid.hidden
	%h4 put grid here	


:javascript
	$(".displaygrid").click(function()
		{
			$('.box.panel.panel-default').addClass('hidden'); 
			$('.displaygrid').addClass('hidden');

			$('.grid').removeClass('hidden');
			$('.displaysingle').removeClass('hidden');
			
		});

		$(".displaysingle").click(function()
		{
			$('.grid').addClass('hidden');
			$('.displaysingle').addClass('hidden');

			$('box.panel.panel-default').removeClass('hidden');
			$('.displaygrid').removeClass('hidden');
			
		});

		



