=render 'showmap'
//=render 'streetviewtest'
.hide
	#lat= @mural.lat
	#lng= @mural.long

%h1
	Artist:
	=@mural.artist
%h3	
	Painted: 
	-if @mural.year?
		=@mural.year

/show grid button but hide grid contents
.displaygrid 
	%span.glyphicon.glyphicon-th
.displaysingle.hidden 
	%span.glyphicon.glyphicon-align-justify


.alignContents
	.box.panel.panel-default
		-@mural.images.each do |image|
			= image_tag(image.url)
		
.gridContents.hidden
	-@mural.images.each do |image|
		.col-lg-3.col-md-4.col-xs-6.thumb#pop
			= image_tag(image.url)
		

%h3 Add more images

= form_for @mural, url: mural_images_path(@mural), method: :post do |f|
	.form-group
		= f.file_field :images, multiple: true
	=f.button :submit, class: "btn btn-primary"




:javascript
	$(".displaygrid").click(function()
		{
			$('.alignContents').addClass('hidden'); 
			$('.displaygrid').addClass('hidden');

			$('.gridContents').removeClass('hidden');
			$('.displaysingle').removeClass('hidden');
			
		});

		$(".displaysingle").click(function()
		{
			$('.gridContents').addClass('hidden');
			$('.displaysingle').addClass('hidden');

			$('.alignContents').removeClass('hidden');
			$('.displaygrid').removeClass('hidden');
			
		});

		